*{
	margin:0px;
	padding:0px;
}
.container{
	display: block;


}
.search{
	background-color: rgb(42, 160, 13);
	position: sticky;
	top: 0;
}
ul,li{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bolder;
	font-size: large;
	padding :5px;
	background-color: rgb(255, 255, 255);
}
#searchInput{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bolder;
	font-size: larger;
	padding: 5px;
	margin: 5px;
	border-radius:8px;
	width: 50%;
	
}